.editContainer {
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.editContainer:hover {
    border-color: #d1d5db;
}

/* Adiciona responsividade */
@media (max-width: 768px) {
    .page {
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .editContainer {
        padding: 1.5rem;
    }
}